* {
  margin: 0;
  padding: 0;
}
.bordered {
  box-sizing: border-box;
  border: 2px solid orange;
}
.bl1 {
  background: #e8e8e8;
}
.bl2 {
  background: #dedede;
}
.bl3 {
  background: #d4d4d4;
}
.bl4 {
  background: #c9c9c9;
}
.bl5 {
  background: #bfbfbf;
}
.bl6 {
  background: #b5b5b5;
}
.bl7 {
  background: #ababab;
}
.bl8 {
  background: #a1a1a1;
}
.bl9 {
  background: #969696;
}
@media screen and (max-width: 500px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf0f0;
    height: 25vh;
  }
  .header span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 5vw;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    background: #bdc3c3;
    justify-content: space-between;
  }
  .container .left,
  .container .right {
    width: 0vw;
  }
  .container .center {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: space-around;
    width: 100vw;
  }
  .block {
    margin-left: 3vw;
    margin-top: 2vh;
    height: 90vw;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media screen and (min-width: 501px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf0f0;
    height: 25vh;
  }
  .header span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin: 5vw;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    background: #bdc3c3;
    justify-content: space-between;
  }
  .container .left,
  .container .right {
    width: 0vw;
  }
  .container .center {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: space-around;
    width: 100vw;
  }
  .block {
    margin-left: 2.2vw;
    margin-top: 2vh;
    height: 45vw;
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media screen and (min-width: 751px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf0f0;
    height: 25vh;
  }
  .header span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin: 5vw;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    background: #bdc3c3;
    justify-content: space-between;
  }
  .container .left,
  .container .right {
    width: 0vw;
  }
  .container .center {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: space-around;
    width: 100vw;
  }
  .block {
    margin-left: 2.2vw;
    margin-top: 2vh;
    height: 30vw;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media screen and (min-width: 1000px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf0f0;
    height: 25vh;
  }
  .header span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 5vw;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    background: #bdc3c3;
    justify-content: space-between;
  }
  .container .left,
  .container .right {
    width: 10vw;
  }
  .container .center {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: space-around;
    width: 80vw;
  }
  body {
    background: #bdc3c3;
  }
  .block {
    margin-left: 1vw;
    margin-top: 2vh;
    height: 14.7vw;
    width: 14.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media screen and (min-width: 1501px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf0f0;
    height: 25vh;
  }
  .header span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 5vw;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    background: #bdc3c3;
    justify-content: space-between;
  }
  .container .left,
  .container .right {
    width: 10vw;
  }
  .container .center {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: space-around;
    width: 80vw;
  }
  .block {
    margin-left: 1vw;
    margin-top: 2vh;
    height: 14.7vw;
    width: 14.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}
